{% extends ../base.html %}

{% block title %}Crafty Controller - Change Password{% end %}

{% block content %}

<section class="content-header">
  <h1>
    Change Your Password
    <small>
       Change is good
    </small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Change Password</li>
  </ol>
</section>


<section class="content">

    <div class="row">
        <div class="col-xs-6">
            <div class="box">
                <div class="box-header with-border">
                  <h3 class="box-title">
                      Change Password For: {{ data['user_data']['username'] }}
                  </h3>
                </div>
                <div class="box-body">
                  <form method="post">
                      <input class="input-lg form-control" type="text" name="password" placeholder="Type your new password" autocomplete="off" minlength="8" maxlength="512"/>
                      <br />
                      <input type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg" value="Change Password">
                      {% raw xsrf_form_html() %}
                  </form>
                </div>

              </div>
        </div>
        <div class="col-md-6">
          <div class="box box-solid">
            <div class="box-header with-border">
              <i class="fa fa-key"></i>

              <h3 class="box-title">Keys to a good password</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <blockquote>
                <p>
                    A secure password is actually a phrase, that is at least 10 char long and contains uncommon words:<br /><br />
                    Example: 'Bilbo, Creepers hate me so much'
                </p>
              </blockquote>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
    </div>


</section>

<!--
{{ data }}
-->




{% end %}

{% block js-script %}



{% end %}