{% extends ../base.html %}

{% block title %}Crafty Controller - Virtual Console{% end %}

{% block content %}

<section class="content-header">
  <h1>
    Logs for Server: {{ data['server_name'] }}
    <small>I don't know, have you checked the logs?</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Logs</li>
  </ol>
</section>


<section class="content">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        {{ data['server_name'] }} Logs <small>Note, this page doesn't auto-refresh</small>
                    </h3>
                </div>

                <div id="#rowTab" class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1" data-toggle="tab">{{ data['server_name'] }} Latest.log</a></li>
                        <li><a href="#tab_2" data-toggle="tab">Crafty.log</a></li>
                        <li><a href="#tab_3" data-toggle="tab">Schedule.log</a></li>
                        <li><a href="#tab_4" data-toggle="tab">Access.log</a></li>
                        <li><a href="#tab_5" data-toggle="tab">FTP.log</a></li>
                        <li><a href="#tab_6" id="search_tab" data-toggle="tab">Search Results</a></li>
                        <li><a> Click Box Below To Scroll To Bottom</a></li>
                        <li class="pull-right"><a id="search_box" href="#" class="text-muted"><i class="fa fa-search" aria-hidden="true"></i>  Search Latest.log </a></li>
                    </ul>
                    <div class="tab-content">
                      <div class="tab-pane active" id="tab_1">
                        <textarea id="logs" rows="25" readonly class="form-control">{% for d in data['log_data'] %}{{ d }}{% end %}</textarea>
                      </div>
                      <!-- /.tab-pane -->
                      <div class="tab-pane" id="tab_2">
                        <textarea id="crafty_logs" rows="25" readonly class="form-control">{% for d in data['crafty_log'] %}{{ d }}{% end %}</textarea>
                      </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="tab_3">
                        <textarea id="schedule_logs" rows="25" readonly class="form-control">{% for d in data['scheduler'] %}{{ d }}{% end %}</textarea>
                      </div>
                      <!-- /.tab-pane -->
                      <!-- /.tab-pane -->
                        <div class="tab-pane" id="tab_4">
                        <textarea id="access_logs" rows="25" readonly class="form-control">{% for d in data['access'] %}{{ d }}{% end %}</textarea>
                      </div>

                        <div class="tab-pane" id="tab_5">
                        <textarea id="ftp_logs" rows="25" readonly class="form-control">{% for d in data['ftp'] %}{{ d }}{% end %}</textarea>
                      </div>

                      <!-- /.tab-pane -->
                        <div class="tab-pane" id="tab_6">
                        <textarea id="search_results" rows="25" readonly class="form-control"></textarea>
                      </div>
                      <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                  </div>

                </div>

            </div>
        <div class="col-xs-12 col-md-6">
            <div class="box">
                <div class="box-header with-border">
                  <h3 class="box-title">
                      Latest Errors
                  </h3>
                </div>
                <div class="box-body">
                    <table class="table table-responsive" id="error_logs_table">
                        <thead>
                        <tr>
                            <th>Line</th>
                            <th>Error</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for e in data['errors']['errors'] %}
                            <tr>
                                <td>{{ e[0] }}</td>
                                <td>{{ e[1] }}</td>
                            </tr>
                            {% end %}
                        </tbody>
                    </table>
                </div>
              </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="box">
                <div class="box-header with-border">
                  <h3 class="box-title">
                      Latest Warnings
                  </h3>
                </div>
                <div class="box-body">
                    <table class="table table-responsive" id="warning_logs_table">
                        <thead>
                        <tr>
                            <th>Line</th>
                            <th>Warning</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for w in data['errors']['warnings'] %}
                            <tr>
                                <td>{{ w[0] }}</td>
                                <td>{{ w[1] }}</td>
                            </tr>
                            {% end %}
                        </tbody>
                    </table>
                </div>
              </div>
        </div>

    </div>


</section>


{% end %}

{% block js-script %}

<script>
     //used to get cookies from browser - this is part of tornados xsrf protection - it's for extra security
    function getCookie(name) {
        var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
        return r ? r[1] : undefined;
    }

    $( document ).ready(function() {
        console.log( "ready!" );
        scroll('logs')
        $('#search_tab').hide()

        $('#warning_logs_table').DataTable({
            "order": [[ 0, "desc" ]]
        });

        $('#error_logs_table').DataTable({
            "order": [[ 0, "desc" ]]
        });

        $('#tab_2').click(function(){
          scroll('crafty_logs')
        });

        $('#tab_3').click(function(){
          scroll('schedule_logs')
        });

        $('#tab_4').click(function(){
          scroll('access_logs')
        });

        $('#search_box').click(function(){
            bootbox.prompt({
                title: "Enter Your Search String",
                centerVertical: true,
                callback: function(result){
                    if (result){
                    get_search_results(result)
                    }
                }
            });
        });


    });

    function get_search_results(search_string){
        var token = getCookie("_xsrf")

        data_to_send = { search : search_string, id: {{ data['server_id'] }}}

        console.log('Sending search: ' + search_string)
        $.ajax({
          type: "POST",
          headers: {'X-XSRFToken': token},
          url: '/ajax/search_logs',
          data: data_to_send,
            success: function(data){
                console.log("got data: " + data)
                $('#search_tab').show();
                $('#search_tab').trigger('click');
                $('#search_results').html(data)
            },
        });
    }

    function scroll(element){
        var logview = $('#'+element);
        if(logview.length)
           logview.scrollTop(logview[0].scrollHeight - logview.height());
    }
</script>

{% end %}