{% extends ../base.html %}

{% block title %}Crafty Controller - Virtual Console{% end %}

{% block content %}

<section class="content-header">
  <h1>
    Virtual Console for server: {{ data['server_name'] }}
    <small>Sometimes you just need a terminal</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Virtual Console</li>
  </ol>
</section>


<section class="content">
    <input type="hidden" value="" id="last_command"/>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                  <h3 class="box-title">
                      Virtual Console for server: {{ data['server_name'] }}
                  </h3>
                    <div class="pull-right">
                        <label>
                            <input type="checkbox" name="stop_scroll" id="stop_scroll" />
                            Stop Auto-Scrolling
                        </label>
                    </div>
                </div>
                <div class="box-body">
                    <textarea id="virt_console" rows="25" readonly class="form-control"></textarea>
                    <br />
                    <div class="input-group">
                       <input type="text" class="form-control" id="server_command" name="server_command" placeholder="Enter your server command">
                       <span class="input-group-btn">
                            <button id="submit" class="btn btn-default" type="button">Send Command</button>
                       </span>
                    </div>
                </div>
              </div>
        </div>
    </div>


</section>

<!--{{ data }}-->




{% end %}

{% block js-script %}

<script>
    function get_server_log(){
        $.ajax({
            type: 'GET',
            url: '/ajax/server_log?id={{ data['server_id'] }}',
            dataType: 'text',
            success: function (data) {
                console.log('Got Log From Server')
                $('#virt_console').val(data);

                    if( !$("#stop_scroll").is(':checked')){
                        scroll()
                    }
             },
        });
    }

    //used to get cookies from browser - this is part of tornados xsrf protection - it's for extra security
    function getCookie(name) {
        var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
        return r ? r[1] : undefined;
    }

    $( document ).ready(function() {
        console.log( "ready!" );
        get_server_log()

        setInterval(function(){
            get_server_log() // this will run after every 5 seconds
        }, 1500);
    });

    $('#server_command').on('keydown', function (e) {
            if (e.which == 13){
                $(this).attr("disabled", "disabled"); //Disable textbox to prevent multiple submit
                send_command_to_server()
                $(this).removeAttr("disabled"); //Enable the textbox again if needed.
                $(this).focus();
            }
            else if (e.which == 38){
                last_command = $('#last_command').val()
                $("#server_command").val(last_command)
            }

   });

    $("#submit").click(function(e) {
        e.preventDefault();
        send_command_to_server();

    });

    function scroll(){
        var logview = $('#virt_console');
        if(logview.length)
           logview.scrollTop(logview[0].scrollHeight - logview.height());
    }


    function send_command_to_server(){
        var server_command = $("#server_command").val()
        console.log(server_command)
        $("#last_command").val(server_command)

        var token = getCookie("_xsrf")

        data_to_send = { command :server_command,  }

        console.log('sending command: ' + server_command)
        $.ajax({
          type: "POST",
          headers: {'X-XSRFToken': token},
          url: '/ajax/send_command?id={{ data['server_id'] }}',
          data: data_to_send,
          success: function(data){
            console.log("got response:");
            console.log(data);
            $("#server_command").val('')
          },
        });
    }
</script>

{% end %}