<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title %}Crafty Controller - Login{% end %}</title>
  {% block meta %} {% end %}
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="/static/vendors/bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/static/vendors/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="/static/vendors/ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/static/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->


  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a ><b>Crafty </b>Controller Login</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg"> {{ _('Sign in to manage your server') }}</p>

    <form action="/" method="post">
      <div class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="{{ _('Username') }}" name="username" maxlength="55">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="{{ _('Password') }}" name="password" maxlength="512">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">

        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat"> {{ _('Sign In') }}</button>
        </div>
        <!-- /.col -->
      </div>
        {% raw xsrf_form_html() %}
    </form>
    <br />
      <h3> {{ _('Server Status') }}</h3>
      <div class="row">
          <div class="col-xs-12 text-left">


              <table class="table">
                  <thead>
                  <tr>
                      <th>Server</th>
                      <th>Running</th>
                      <th>CPU</th>
                      <th>Memory</th>
                      <th>Players</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% if data['server_data'] %}
                  {% for s in data['server_data'] %}
                    <tr>
                        <td>{{s['name']}}</td>
                        <td>{{s['server_running']}}</td>
                        <td>{{s['cpu_usage']}}</td>
                        <td>{{s['memory_usage']}}</td>
                        <td>{{s['online_players']}} / {{s['max_players']}}</td>
                    </tr>

                  {% end %}
                  {% end %}

                  </tbody>

              </table>

          </div>
      </div>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
<!-- jQuery 3 -->
<script src="/static/vendors/jquery/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/static/vendors/bootstrap/js/bootstrap.min.js"></script>

<!-- AdminLTE App -->
<script src="/static/js/adminlte.min.js"></script>

<!-- bootbox -->
<script src="/static/vendors/bootbox/bootbox.min.js"></script>

{% if data['login'] is not None %}
    <script>
        var dialog = bootbox.dialog({
            message: "Login Failed",
            className: 'modal modal-danger fade-in',
            okButton: false
        });

        $(document).ready(function(){
          setTimeout(hide_modal, 3000);
        });

        var hide_modal = function(){
          dialog.modal('hide');
        };


    </script>
{% end %}

{% block js-script %}
{% end %}
</body>
</html>
